<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa Tatr</title>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <script>
        mapboxgl.accessToken = 'TWOJ_KLUCZ_API_MAPBOX'; // Zarejestruj się na Mapbox, aby uzyskać klucz API

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11', // Możesz dostosować styl mapy
            center: [20.005, 49.205],
            zoom: 11
        });

        // Dodaj źródło danych z OpenStreetMap
        map.on('load', function () {
            map.addSource('tatr-szlaki', {
                type: 'geojson',
                data: 'URL_DO_TWOJEGO_PLIKU_GEOJSON_Z_SZLAKAMI'
            });

            map.addLayer({
                id: 'szlaki',
                type: 'line',
                source: 'tatr-szlaki',
                paint: {
                    'line-color': '#FF0000', // Kolor linii
                    'line-width': 2 // Grubość linii
                }
            });

            // Dodaj znaczniki dla szczytów
            map.addSource('szczyty', {
                type: 'geojson',
                data: 'URL_DO_TWOJEGO_PLIKU_GEOJSON_Z_SZCZYTAMI'
            });

            map.addLayer({
                id: 'szczyty',
                type: 'symbol',
                source: 'szczyty',
                layout: {
                    'icon-image': 'mountain-15', // Ikona dla szczytów
                    'icon-size': 1.5,
                    'icon-allow-overlap': true,
                    'text-field': ['get', 'name'],
                    'text-font': ['Open Sans Regular'],
                    'text-size': 12,
                    'text-anchor': 'top'
                }
            });
        });
    </script>
</body>
</html>
